{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "plugins": [ "istanbul"]
    },
  },
  "plugins": ["babel-root-import", "transform-flow-strip-types"]
}