{
  "presets": [
    "latest",
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "plugins": [
        ["istanbul", {
          "include": [
            "**/*.js"
          ]
        }],
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ]
    }
  },
  "plugins": ["babel-root-import"]
}